@charset "utf-8";
body,p,ul,dl,ol,li,h1,h3,h4,h2,h5,h6,fieldset,legend{margin:0;padding:0;}
body{font:12px/24px "微软雅黑";}
ul,li{list-style:none;}
a{text-decoration:none; color:#666;}
img{border:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
.left{float:left;}
.noborder{border:none;}


html,body{background-image: linear-gradient(-90deg, #589720, #F155EC);height: 100%;width: 100%;}
#content{background: #FFF;width: 90%;height: 90%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;
	-webkit-box-shadow: 5px 5px 5px 5px #60392e;
  	-moz-box-shadow: 5px 5px 5px 5px #60392e;
  	box-shadow: 5px 5px 5px 5px #60392e;
}
